html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 160px;
  width: 140px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  background-color: #fff;
  flex-shrink: 0;
  height: 116px;
  width: 96px;
  margin: 22px;
}
